*.pyc
*.DS_Store
*.mdc
*.csv
*.json
customhighlightsdata/*
!customhighlightsdata/custom_dataset.json
activitynetdata/*
!activitynetdata/README.md
model/*
models/*
notes.md
*.mdc
CLAUDE.md
analysis/concatenated*
*.mp4
*.pt
evaluate.log
!models/InternVideo2-Stage2_1B-224p-f4/modeling_internvideo2.py
!models/InternVideo2-Stage2_1B-224p-f4/config_bert_large.json
.env
*.npz
*.log
outputs/*

# results: allow metrics.json (override *.json)
!results/*/metrics.json
!clean_results/*/*/*/metrics.json

lit_review_paper_pdfs/*.pdf
!lit_review_paper_pdfs/lit_review_analysis_output/*.json